.container {
  display:flex;
  justify-content:center;
  align-items: center;
  height: 100vh
  
} 
.detail-container{
  background-color: rgb(236, 236, 236);
  width:390px;
  height:470px
}
.header {
  height:120px;
  background: linear-gradient(to right, #1da1f2, #9ad7f7);
  text-align:right
  
}
.custom-image-class{
  border-radius: 60%;
  position: relative;
  top:-50px
}
.main {
  background-color: white;
  width: 90%;
 position: relative;
 margin: 0 auto;
 top: -40px;
 text-align: center;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
 height:390px
}

p {
  position: relative;
  top: -40px;
  font-size: 14px;
  margin-bottom:0px
}

.links, .buttons{
  position: relative;
  top: -40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin:10px auto ;
  text-align: center
}
.custom-link {
  color:  #1da1f2;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;

}
.links span {
  font-size: 30px;
  position: relative;
  top: -8px;
  left:-3px;
  color:rgb(141, 141, 141);
  
}

button {
  border-radius: 20px;
  border: 1px solid rgb(220, 220, 220);
  padding: 10px 25px;
  background-color: white;
  margin-right : 10px;
 
}